/*...................... index............................. */



/* navegador */
nav{
    padding: 8px;
    background-color: #ffffff2f;
    position: fixed;
    top: 0px;
    width: 99%;


    

   
    
}

nav ul{
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    
    
}

nav ul li{
    display: inline-block;
    padding: 8px;
    

}

nav div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    

}

h1{
    color: #e63333;
    margin: 10px;
    
    
    font-family: 'Abril Fatface', cursive ,  sans-serif; 

   

}
/* main */
.img1{
    margin: 110px 0px 0px 0px;
    
    display: flex;
    justify-content: space-evenly;
   

    


}
.nombre{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img2{
    margin: 30px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    
    

    
}
/* footer */
.footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    
    
    
    
    
}
.redes{
    
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    
    
}
li{
    list-style-type: none;
}

.logo{
    
    display: flex;
    align-items: center;
   
   
    
}

.columna{
    margin-left: 50px;
}

a{
    text-decoration: none;
}


/* ···················pagina contacto···················· */

/* ·····main····· */


/* formulario */
.iframe{
    margin: 150px 0px 0px 0px;
}

.formularioemp{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formelem{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.botonenviar{
    margin-left: 200px;
    margin-bottom: 30px;

}

/*···················· pagina micuenta······················· */

/* main */
.micuenta{
    background-image: url(/img/micuenta.webp);
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat ;
    text-align: center;
    line-height: 3;
    font-family: 'Abril Fatface', cursive ,  sans-serif; 
    font-size: 100px;
    
}

.accederregistro{
    display: flex;
    flex-direction: row;
    

}
.acceder{
    width: 50%;
}
.registro{
    width: 50%;
}

/* ················pagina empresa················ */
.mainempresa{
    margin: 110px;
}
.logomainempresa{
    display: flex;
    color: #e63333;
}

/* ··········pagina productos············· */
.mainproductos{
    margin: 150px 0px 0px 200px ;
    
    
}

.listaproductos{
    position: fixed;
    left: 2%;
    

    
    
}
.productos{
    display: flex;
    flex-direction: column;
    margin: 150px 0px 0px 0px;
   

}

